@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.logo img {
  width: 85px;
  margin-top: 10px;
}

/* .col-50 img {
  width: 35px;
  display: block;
} */

header {
  background-color: #707561;
}

/* header {
  filter: drop-shadow(2.575px -4.286px 2.5px rgba(232, 230, 229, 0.75));
} */

.row {
  display: flex;
  margin: 0 20px;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.search-icon img {
  width: 30px;
  height: 30px;
}

.content-center {
  align-items: center;
  justify-content: space-between;
}

.nav-item ul li {
  display: inline-block;
  margin: 0 20px;
}

.nav-item ul li a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.menu-toggel {
  display: none;
}

/* .nav-item ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background: rgb(255, 0, 0);
  bottom: 0;
  left: 0;
  transition: all.5s;
} */

.nav-item ul li a:hover::after,
.nav-item ul li a:hover {
  width: 100%;
  color: rgb(224, 180, 99);
}

/*<<<<<.......... title section..........>>>>> */

.title-section {
  background-color: #707561;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 623px;
}

.title-section .col-50 {
  filter: drop-shadow(14.575px 12.714px 5.5px);
}

.row {
  display: flex;
}

.jscsb {
  justify-content: space-between;
}

/* .box-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 550px;
} */

.col-50 {
  /* width: 50%; */
  display: inline;
}

.box-item .col-50 h1 {
  font-size: 66px;
  /* line-height: 118px; */
  color: #f7e392;
  font-weight: 400;
  font-family: "Prata";
  text-align: right;
  margin: 45px 30px;
}

.box-item .col-50 h2 {
  font-size: 60px;
  width: 760px;
  /* line-height: 42px; */
  color: #f7e392;
  /* font-weight: 378px; */
  font-family: "Alex Brush";
  text-align: center;
}

.box-item .col-50 p {
  font-size: 20px;
  color: #f7e392;
  font-family: "Prata";
  text-align: center;
  margin: 30px 166px;
}

.box-item .col-50 img {
  margin: 90px 78px;
}

.box-item .col-50 a {
  font-size: 25px;
  color: #707561;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #f7e392;
  padding: 7px 10px;
  margin: 0 300px;
  transition: all 0.4s;
  position: absolute;
}

.box-item .col-50 a:hover {
  background-color: rgb(230, 162, 61);
  color: aliceblue;
}

/*<<<<<.......... second section..........>>>>> */
.second-section {
  height: 650px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-image: url(./imgs/Shape2.png); */
}

.second-section h4 {
  font-size: 35px;
  line-height: 120px;
  color: #707561;
  font-weight: 400;
  font-family: "Prata";
  text-align: center;
  filter: drop-shadow(10.575px 10.714px 3.5px);
}

.second-section h3 {
  font-size: 50px;
  line-height: 77px;
  color: #707561;
  font-family: "Alex Brush";
  text-align: center;
  padding: 0 337px;
  filter: drop-shadow(10.575px 10.714px 3.5px);
}

.second-section p {
  font-size: 20px;
  line-height: 22px;
  color: #646857;
  font-family: "Prata";
  text-align: center;
  margin: 60px 326px;
  /* filter: drop-shadow(10.575px 10.714px 3.5px); */
}

.second-section img {
  width: 100%;
  margin-top: 50px;
}

/* <!-- <<<<<<<------------third section----------- >>>>>>> --> */
.third-sec {
  width: 100%;
  height: 800px;
  background-color: #707561;
}

.third-sec h3 {
  font-size: 75px;
  /* line-height: 77px; */
  color: #f7e392;
  font-family: "Alex Brush";
  text-align: center;
  font-weight: 400;
  padding-top: 90px;
  padding-bottom: 50px;
  filter: drop-shadow(10.575px 10.714px 3.5px rgb(27, 25, 25));
}

.textCenter {
  text-align: center;
}

.col-33 {
  width: 26%;
  margin: 0 auto;
}

.img-box img {
  object-fit: cover;
  transition: all 0.5s;
  width: 88%;
  margin: 15px;
  filter: drop-shadow(24.575px 13.714px 14.5px rgb(27, 25, 25));
}

.img-box:hover img {
  transform: scale(1.2);
  cursor: pointer;
}

.text-area h2 {
  padding: 30px 0;
  font-size: 20px;
  color: #f7e392;
  font-weight: 400;
  font-family: "Prata";
}

.text-area p {
  /* width: 1060px;
  height: 269px; */
  font-size: 14px;
  /* letter-spacing: 0px; */
  line-height: 22px;
  color: #f7e392;
  font-weight: 400;
  font-family: "Prata";
  text-align: center;
}

/*<<<<<.......... fourth section..........>>>>> */
.fourth-sec {
  height: 700px;
  width: 100%;
  background-image: url(./imgs/Ellipse.png);
  background-repeat: no-repeat;
  background-position: -5px 10px;
}

.fourth-sec .contain-box h5 {
  font-size: 25px;
  line-height: 120px;
  color: #707561;
  font-weight: 400;
  font-family: "Prata";
  text-align: center;
}

.py {
  padding-top: 98px;
}

.fourth-sec .contain-box h4 {
  font-size: 80px;
  color: #6d725e;
  font-family: "Alex Brush";
  text-align: center;
  filter: drop-shadow(6.575px 9.714px 5.5px rgb(27, 25, 25));
}

.fourth-sec .contain-box p {
  font-size: 20px;
  padding: 30px 180px 30px 180px;
  color: #707561;
  font-family: "Prata";
  text-align: center;
}

.fourth-sec .col-50 a {
  font-size: 25px;
  color: #707561;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #ecd162;
  padding: 10px 35px;
  margin: 0 300px;
  transition: all 0.4s;
  position: absolute;
}

.fourth-sec .col-50 a:hover {
  background-color: rgb(221, 156, 59);
  color: aliceblue;
}

.fourth-sec .img-by img {
  width: 450px;
  height: 500px;
  margin: 98px 0 0 0;
  padding-right: 120px;
  filter: drop-shadow(18.575px 23.714px 12.5px rgb(27, 25, 25));
}

/*<<<<<.......... fifth section..........>>>>> */
.fifth-sec {
  height: 1200px;
  background-color: #646857;
}

.fifth-sec h5 {
  font-size: 80px;
  padding-top: 99px;
  color: #f7e392;
  font-weight: 400;
  font-family: "Alex Brush";
  text-align: center;
  filter: drop-shadow(12.575px 17.714px 5.5px rgb(27, 25, 25));
}

.img-pl img {
  margin-top: 50px;
  margin-left: 95px;
}

.fifth-sec .col-50 {
  width: 49%;
  display: inline-block;
}

.fifth-sec .col-50 h6 {
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 25px;
  color: #f7e392;
  font-weight: 400;
  font-family: "Prata";
  text-align: center;
  padding-right: 98px;
}

.fifth-sec .col-50 a {
  font-size: 19px;
  color: #707561;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #ecd162;
  padding: 8px 20px;
  transition: all 0.4s;
}

.fifth-sec .col-50 .bt {
  display: flex;  
  justify-content: center;  
  align-items: center;  
}

.img-pr img {
  margin-top: 95px;
  margin-left: 50px;
  width: 50%;
}
