* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.logo img {
  width: 85px;
  margin-top: 10px;
}

img {
  width: 35px;
  display: block; 
 } 

header {
  background-color: #707561;
}

/* header {
  filter: drop-shadow(2.575px -4.286px 2.5px rgba(232, 230, 229, 0.75));
} */

.row {
  display: flex;
  margin: 0 20px;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.search-icon img {
  width: 30px;
  height: 30px;
}

.content-center {
  align-items: center;
  justify-content: space-between;
}

.nav-item ul li {
  display: inline-block;
  margin: 0 20px;
}

.nav-item ul li a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.menu-toggel {
  display: none;
}

/* .nav-item ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background: rgb(255, 0, 0);
  bottom: 0;
  left: 0;
  transition: all.5s;
} */

.nav-item ul li a:hover::after,
.nav-item ul li a:hover {
    width: 100%;
    color: rgb(224, 183, 106);

}

/*<<<<<.......... title section..........>>>>> */

.title-section {
  background-color: #707561;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;

}

.row {
  display: flex;
}

.jscsb {
  justify-content: space-between;
}

/* .box-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 550px;
} */

.col-50 {
  /* width: 50%; */
  display: inline;
}

.box-item .col-50 h1 {
  font-size: 66px;
  /* line-height: 118px; */
  color: #f7e392;
  font-weight: 400;
  font-family: "Prata";
  text-align: right;
  margin: 60px 30px;
}

.box-item .col-50 h2 {
  font-size: 60px;
  width: 760px;
  /* line-height: 42px; */
  color: #f7e392;
  /* font-weight: 378px; */
  font-family: "Alex Brush";
  text-align: center;
}

.box-item .col-50 p {
  font-size: 20px;
  color: #f7e392;
  font-family: "Prata";
  text-align: center;
  margin: 30px 166px;
}

.box-item .col-50 img {
  border-radius: 200px;
  width: 450px;
  height: 460px;
  margin-top: 100px;
}

.box-item .col-50 a {
    font-size: 25px;
    color: #707561;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    background-color: #f7e392;
    padding: 7px 10px;
    margin: 0 300px;
    transition: all .4s;
}

.box-item .col-50 a:hover {
  background-color: rgb(230, 162, 61);
  color: aliceblue;
}