@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.logo img {
  width: 85px;
  margin-top: 10px;
}

header {
  background-color: #707561;
}

.row {
  display: flex;
  margin: 0 20px;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.search-icon img {
  width: 30px;
  height: 30px;
}

.content-center {
  align-items: center;
  justify-content: space-between;
}

.nav-item ul li {
  display: inline-block;
  margin: 0 20px;
}

.nav-item ul li a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.menu-toggel {
  display: none;
}

.nav-item ul li a:hover::after,
.nav-item ul li a:hover {
  width: 100%;
  color: rgb(224, 180, 99);
}

/*<<<<<.......... title section..........>>>>> */

.title-section {
  background-color: #707561;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 623px;
  background-image: url(./imgs/Ellipse.png);
  background-position: -770px -362px;
}

.title-section .col-50 {
  filter: drop-shadow(14.575px 12.714px 5.5px);
}

.jscsb {
  justify-content: space-between;
}

.box-item .col-50 h1 {
  font-size: 66px;
  color: #f7e392;
  font-weight: 400;
  font-family: "Prata";
  text-align: right;
  margin: 45px 30px;
}

.box-item .col-50 h2 {
  font-size: 60px;
  width: 760px;
  color: #f7e392;
  font-family: "Alex Brush";
  text-align: center;
}

.box-item .col-50 p {
  font-size: 20px;
  color: #f7e392;
  font-family: "Prata";
  text-align: center;
  margin: 30px 166px;
}

.box-item .col-50 img {
  margin: 90px 78px;
}

.box-item .col-50 a {
  font-size: 25px;
  color: #707561;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #f7e392;
  padding: 7px 10px;
  margin: 0 300px;
  transition: all 0.4s;
  position: absolute;
}

.box-item .col-50 a:hover {
  background-color: rgb(230, 162, 61);
  color: aliceblue;
}

/*<<<<<.......... second section..........>>>>> */
.second-section {
  height: 650px;
  /* background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./imgs/Shape2.png);
  /* background-image: url(./imgs/Shape2.png); */
  /* background-position: 1064px 84px; */
  background-repeat: no-repeat;
}

.second-section h4 {
  font-size: 35px;
  line-height: 120px;
  color: #707561;
  font-weight: 400;
  font-family: "Prata";
  text-align: center;
  filter: drop-shadow(10.575px 10.714px 3.5px);
}

.second-section h3 {
  font-size: 50px;
  line-height: 77px;
  color: #707561;
  font-family: "Alex Brush";
  text-align: center;
  padding: 0 337px;
  filter: drop-shadow(10.575px 10.714px 3.5px);
}

.second-section p {
  font-size: 20px;
  line-height: 22px;
  color: #646857;
  font-family: "Prata";
  text-align: center;
  margin: 60px 326px;
  /* filter: drop-shadow(10.575px 10.714px 3.5px); */
}

.second-section img {
  width: 100%;
  margin-top: 50px;
}

/* <!-- <<<<<<<------------third section----------- >>>>>>> --> */
.third-sec {
  width: 100%;
  height: 800px;
  background-color: #707561;
}

.third-sec h3 {
  font-size: 75px;
  /* line-height: 77px; */
  color: #f7e392;
  font-family: "Alex Brush";
  text-align: center;
  font-weight: 400;
  padding-top: 90px;
  padding-bottom: 50px;
  filter: drop-shadow(10.575px 10.714px 3.5px rgb(27, 25, 25));
}

.textCenter {
  text-align: center;
}

.col-33 {
  width: 26%;
  margin: 0 auto;
}

.img-box img {
  object-fit: cover;
  transition: all 0.5s;
  width: 88%;
  margin: 15px;
  filter: drop-shadow(24.575px 13.714px 14.5px rgb(27, 25, 25));
}

.img-box:hover img {
  transform: scale(1.2);
  cursor: pointer;
}

.text-area h2 {
  padding: 30px 0;
  font-size: 20px;
  color: #f7e392;
  font-weight: 400;
  font-family: "Prata";
}

.text-area p {
  /* width: 1060px;
  height: 269px; */
  font-size: 14px;
  /* letter-spacing: 0px; */
  line-height: 22px;
  color: #f7e392;
  font-weight: 400;
  font-family: "Prata";
  text-align: center;
}

/*<<<<<.......... fourth section..........>>>>> */
.fourth-sec {
  height: 700px;
  width: 100%;
  background-image: url(./imgs/Ellipse.png);
  background-repeat: no-repeat;
  background-position: 786px -90px;
}

.fourth-sec .contain-box h5 {
  font-size: 25px;
  line-height: 120px;
  color: #707561;
  font-weight: 400;
  font-family: "Prata";
  text-align: center;
}

.py {
  padding-top: 98px;
}

.fourth-sec .contain-box h4 {
  font-size: 80px;
  color: #6d725e;
  font-family: "Alex Brush";
  text-align: center;
  filter: drop-shadow(6.575px 9.714px 5.5px rgb(27, 25, 25));
}

.fourth-sec .contain-box p {
  font-size: 20px;
  width: 95%;
  padding: 30px 99px 30px 99px;
  color: #707561;
  font-family: "Prata";
  text-align: center;
}

.fourth-sec .col-50 a {
  font-size: 25px;
  color: #707561;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #ecd162;
  padding: 10px 35px;
  margin: 0 280px;
  transition: all 0.4s;
  position: absolute;
}

.fourth-sec .col-50 a:hover {
  background-color: rgb(221, 156, 59);
  color: aliceblue;
}

.fourth-sec a {
  filter: drop-shadow(14.575px 12.714px 5.5px);
}

.fourth-sec .img-by img {
  width: 470px;
  height: 500px;
  margin: 98px 25px 0 0;
  padding-right: 120px;
  filter: drop-shadow(18.575px 23.714px 12.5px rgb(27, 25, 25));
}

/*<<<<<.......... fifth section..........>>>>> */
.fifth-sec {
  height: 1620px;
  background-color: #646857;
  background-image: url(./imgs/Ellipse.png);
  background-repeat: no-repeat;
  background-position: 147px 388px;
}

.fifth-sec h5 {
  font-size: 80px;
  padding-top: 99px;
  color: #f7e392;
  font-weight: 400;
  font-family: "Alex Brush";
  text-align: center;
  filter: drop-shadow(12.575px 17.714px 5.5px rgb(27, 25, 25));
}

.col-50 .img-pic img {
  margin-top: 50px;
  margin-left: 95px;
  width: 55%;
  filter: drop-shadow(31.575px 25.714px 9.5px rgb(27, 25, 25));
}

.fifth-sec .col-50 {
  width: 49%;
  display: inline-block;
}

.fifth-sec .col-50 h6 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #f7e392;
  font-weight: 400;
  font-family: "Prata";
  text-align: center;
  padding-right: 98px;
}

.fifth-sec .col-50 a {
  font-size: 15px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #ecd162;
  padding: 5px 16px;
  transition: all 0.4s;
  filter: drop-shadow(14.575px 12.714px 5.5px);
  position: absolute;
}

.fifth-sec .col-50 a:hover {
  background-color: rgb(221, 156, 59);
  color: aliceblue;
}

.col-50 .bt {
  margin: 0 195px;
}

.img-pr img {
  margin-top: 95px;
  margin-left: 96px;
  width: 55%;
}

/* <<<<<.......... sixth section..........>>>>> */
.sixth-sec {
  height: 650px;
  background-image: url(./imgs/Shadow2.png);
  background-repeat: no-repeat;
  background-position: 619px 56px;
}

.sixth-sec .col-50 {
  width: 50%;
  height: 650px;
}

.contain {
  display: grid;
  place-items: center;
  height: 100%;
}

.contain-box h3 {
  /* height: 175px; */
  font-size: 57px;
  line-height: 73px;
  color: #5c5f53;
  font-weight: 300;
  font-family: "Alex Brush";
  text-align: center;
  filter: drop-shadow(17.575px 12.714px 4.5px);
}

.contain-box h6 {
  font-size: 19px;
  color: #5c5f53;
  font-family: "Prata";
  text-align: center;
  margin-top: 20px;
}

.contain-box p {
  width: 425px;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: #5c5f53;
  font-family: "Prata";
  text-align: center;
}

.contain-box h5 {
  font-size: 19px;
  line-height: 50px;
  color: #5c5f53;
  font-family: "Prata";
  text-align: center;
}

/* <<<<<.......... seventh section..........>>>>> */
.sev-sec {
  background-color: #6d725e;
  height: 850px;
}

.sev-sec h4 {
  font-size: 70px;
  line-height: 190px;
  color: #f7e392;
  font-weight: 400;
  font-family: "Alex Brush";
  text-align: center;
  filter: drop-shadow(12.575px 17.714px 5.5px rgb(27, 25, 25));
}

.col-33 .img-made-two img {
  width: 330px;
  transition: all 0.5s;
  filter: drop-shadow(12.575px 17.714px 5.5px rgb(27, 25, 25));
}

.col-33 .img-made img {
  width: 75%;
  margin-left: 40px;
  margin-top: 65px;
  transition: all 0.5s;
  filter: drop-shadow(12.575px 17.714px 5.5px rgb(27, 25, 25));
}

.col-box:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.text-area h6 {
  padding: 30px 0px 10px 50px;
  font-size: 20px;
  color: #f7e392;
  font-weight: 400;
  font-family: "Prata";
}

.sev-sec .col-33 a {
  font-size: 15px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #ecd162;
  padding: 5px 16px;
  transition: all 0.4s;
  filter: drop-shadow(14.575px 12.714px 5.5px);
  position: absolute;
  margin-left: 99px;
}

.sev-sec .col-33 a:hover {
  background-color: rgb(221, 156, 59);
  color: aliceblue;
}

/* <<<<<<<------------eighth section----------- >>>>>>> */
.footer {
  height: 450px;
  background-image: url(./imgs/Shadow2.png);
  background-repeat: no-repeat;
  background-position: 603px -24px;
}

.jsw {
  justify-content: space-between;
}

.col-25 h5 {
  font-size: 32px;
  margin-top: 30px;
  padding-bottom: 24px;
  padding-top: 99px;
  color: #000000;
  font-weight: 400;
  font-family: "Prata";
  filter: drop-shadow(14.575px 15.714px 4.5px rgb(0, 0, 0));
}

.col-25 h6 {
  font-size: 18px;
  padding-left: 5px;
  line-height: 30px;
  color: #707561;
  font-weight: 400;
  font-family: "Prata";
  text-align: left;
}

.footer .col-25 h6 {
  transition: transform 0.5s;
  cursor: pointer;
}

.footer .col-25 h6:hover {
  transform: translateX(8px);
  color: rgb(255, 166, 0);
}

.footer .bot-para p {
  font-size: 40px;
  color: #545215bf;
  text-align: center;
  font-family: "Prata";
  padding-top: 50px;
}
